* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 30, 32);
}

.nav {
    background-color: black;
    width: 100%;
    padding: 30;
}

.invert {
    filter: invert(1);
}

.form h1 {
    padding: 65px;
}

.form {
    text-align: center;
    background-color: black;
    margin: 50px;
    color: white;
}

.form input {
    width: 40%;
    height: 55px;
    margin: 20px auto;
    border-radius: 9px;
    background-color: rgb(31, 30, 32);
    border: none;
    color: white;
    padding: 15px;
    transition: .5s;
}

.form button {
    background-color: #1cd760;
    border: none;
    border-radius: 20px;
    width: 222px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}
.separation {
    background-color: rgb(40, 37, 37);
    height: 2px;
    width: 900px;
    margin-left: 230px;
}
.forgot {
    color: gray;
    padding: 40px;
}


.forgot a {
    color: white;
    padding: 5px;

}

/* .forgot a::hover{
    color: 
} */